:root {
    --font-color-nav: white;
    --background-body-color: #ddd8ce;
    --background-box-color: #334464;
    --background-button-color: #7234fa;
    --background-button-change-color: #8754f6;
    --background-nav-footer-color: black;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "DM Sans", "sans-serif";
}

body {
    background-color: var(--background-body-color);
}

nav {
    display: flex;
    height: 75px;
    background-color: var(--background-nav-footer-color);
    padding: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.2);
}

nav a {
    margin: 50px;
    text-decoration: none;
    color: var(--font-color-nav);
}

button {
    width: 120px;
    height: 50px;
    margin: 15px 50px;
    font-size: .9em;
    color: var(--font-color-nav);
    background-color: var(--background-button-color);
    border: 1px solid black;
}

#currentMessageTitle {
    text-align: center;
    margin-top: 10px;
}

.container {
    display: flex;
    width: 1000px;
    height: 550px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: #334464;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    overflow: auto;
}

.messages {
    flex-direction: column;
    margin: 15px 0px;
    background-color: white;
    border-radius: 5px;
    width: 90%;
    height: auto;
    overflow-wrap: break-word;
    transition: transform 0.3s ease;
    border: 3px solid black;
}

.messages h3, .messages p {
    margin: 5px 10px;
}

.form-container {
    display: flex;
    width: 800px;
    height: 400px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    background-color: #334464;
    border: 3px solid black;
    flex-direction: column;
    color: black
}

form {
    display: flex;
    flex-direction: column;
}

form, input, label {
    margin: 5px;
    font-size: 1.2em;
    color: black
}

input {
    height: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-top: 118px;
    background-color: var(--background-nav-footer-color);
    color: white;
}
footer h1 {
    margin: 25px;
    text-align: center;
    font-size: 1em;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 25px;
}

footer svg {
    width: 50px;
    height: auto;
}

.messages:hover {
    border: 3px solid rgb(224, 223, 223);
    transform: translateY(-2px); 
}

button:hover {
    background-color: var(--background-button-change-color);
    transition: background-color 0.3s ease;
}

input:hover {
    background-color: rgb(244, 244, 244);
}

svg:hover {
    background-color: rgb(244, 244, 244);
    border-radius: 5%;
}